PORT=your_port

NODE_ENV=your_node_env

CLIENT_URL=your_client_url

SERVER_URL=your_server_url

DATABASE_URL=your_database_url

BCRYPT_SALT=your_bcrypt_salt

JWT_ACCESS_SECRET=your_jwt_access_secret

JWT_REFRESH_SECRET=your_jwt_refresh_secret

JWT_ACCESS_EXPIRES_IN=your_jwt_access_expires_in

JWT_REFRESH_EXPIRES_IN=your_jwt_refresh_expires_in

STRIPE_SECRET_KEY=your_stripe_secret_key

STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name

CLOUDINARY_API_KEY=your_cloudinary_api_key

CLOUDINARY_API_SECRET=your_cloudinary_api_secret

CLOUDINARY_UPLOAD_PRESET=your_cloudinary_upload_preset

ADMIN_EMAIL=your_admin_email

ADMIN_PASSWORD=your_admin_password
